{% extends '::base.html.twig' %}

	{% block title %} Import en masse {% endblock %}

	{% block content %}

        <div class="container">
            <div class="page-header">
                <h1>{% block head_title %}Importer{% endblock %} <small>{% block head_small %}Résultat de l'importation{% endblock %}</small>

                    <div class="pull-right">
                        <div class="btn-group" style="">
                            <a class="btn btn-primary" href="{{ url('cva_membership_payments_import') }}">{{ icon('chevron-left') }} Retour</a>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="well">
                {{ out|raw }}
            </div>
        </div>

    {% endblock %}

