{% block user_block %}
    {% if app.user %}
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="{{ path('admin_bde_main_user_edit', {id: app.user.id}) }}">
                    <i class="fa fa-user"></i> {{ app.user }}
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="{{ url('fos_user_security_logout') }}">Déconnexion</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}