{% extends "::base.html.twig" %}

{% block title %}BdEWeiBundle:Registration:unregister{% endblock %}

{% block body %}
<div class="container">
    <div>
        <a href="javascript:location.replace(document.referrer);" class="btn btn-primary">{{ icon('previous') }}&nbsp;Revenir en arrière</a>
    </div>
    <script>
        location.replace(document.referrer);
    </script>
</div>
{% endblock %}
